body {
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

nav {
  margin-bottom: 5vh;
  width: 100vw;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 1vw;
  justify-content: space-evenly;
}

a {
  color: rgb(102, 255, 0);
  text-decoration: none;
}

a:hover {
  background-color: rgb(88, 101, 114);
}